@import 'variables';

body {
    overflow-x: hidden;
}

h1,
h2 {
    font-family: $fontParagraph;
}

h1,
h2,
p{
    margin: 0;    
}

p, 
span,
button {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

p, 
span {
    font-weight: 200;
    
}

.error {
    font-size: 12px;
    color: red;
    padding-left: 10px;
}


button {
    font-weight: 400;
    cursor: pointer;    
}

.highlight {
    color: $primaryColor;
}

select {
    width: 100%;    
}

input {

    &[type="text"], &[type="password"], &[type="email"] {
        width: 100%;
        -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        height: 30px;
        border: 0;
        text-indent: 10px;   
    }
                                

    &::-webkit-input-placeholder {
        font-family: $fontParagraph;
    }
                                

    &:-ms-input-placeholder {
        font-family: $fontParagraph;
    }
                                

    &::-ms-input-placeholder {
        font-family: $fontParagraph;
    }
                                

    &::placeholder {
        font-family: $fontParagraph;
    }

}

input,
select,
textarea {
    font-family: $fontParagraph;
    font-weight: 300;    
    font-size: 15px;
}

form {
    margin: 0 auto;
    display: grid;
}


.react-datepicker-wrapper,
.rc-time-picker {
    width: 100%;
}