@import './../../styles/globals';

#timesheet {
    display: block;
    height: 100vh;

    .success__side {
        background-color: $primaryColor;
        text-align: center;
        color: white;
        height: 100vh;
        padding-top: 15%;

        .add__more__button {
            background-color: white;
            color: $primaryColor;
            border: 2px solid white;
            width: 80px;
            height: 40px;
            -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
            margin-top: 20px;
            margin-right: 30px;

            &:hover {
                background-color: $primaryColor;
                border-color: white;
                color: white;
            }
        }
        
        img {
            width: 30%;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .success {
        margin-top: 30px;
        text-align: center;

        i {
            font-size: 180px;
            margin: 0 auto;
            display: block;
            color: $primaryColor;
        }
        
    }

    .top__side {
        background-color: $primaryColor;
        color: white;
        text-align: center;
        height: 220px;

        .add__more__button {
            position: absolute;
            background-color: white;
            color: $primaryColor;
            border: 2px solid white;
            width: 80px;
            height: 40px;
            -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
            margin-top: 20px;
            margin-right: 30px;
            top: 0;
            right: 0;

            &:hover {
                background-color: $primaryColor;
                border-color: white;
                color: white;
            }
        }

        h1, 
        h2 {
            font-weight: lighter;
        }

        h1 {
            font-size: 65px;
        }

        h2 {
            margin-bottom: 5px;
        }

        img {
            padding: 20px;
            width: 10%;
            display: block;
            margin: 0 auto;
        }

        i {
            font-size: 20px;
        }
    }

    .bottom__side {

        
        
        form {
            margin: 0 1%;
            grid-template-columns: 12% 5% 5% 5% 5% 20% 8% 12% 6% 10%;
            grid-template-areas: 'Title Client Date STime ETime Comments EName EAddress MName MPosition';
            grid-column-gap: 20px;
            grid-row-gap: 30px;
            margin-top: 20px;

            textarea, select {
                border: 0;
                -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
                        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
            }
           
            textarea {
                resize: none;
                width: 100%;
                height: 30px;
                overflow-y: scroll;
                text-indent: 10px;    
            }

            select {
                height: 32px;
                background: white;
            }


            div:nth-child(1) {
                grid-area: Title;
            }

            div:nth-child(2) {
                grid-area: Client;
            }

            div:nth-child(3) {
                grid-area: Date;
            }

            div:nth-child(4) {
                grid-area: STime;
            }

            div:nth-child(5) {
                grid-area: ETime;
            }

            div:nth-child(6) {
                grid-area: Comments;
            }
            
            div:nth-child(7) {
                grid-area: EName;
            } 
            
            div:nth-child(8) {
                grid-area: EAddress;
            }

            div:nth-child(9) {
                grid-area: MName;
            }
            div:nth-child(10) {
                grid-area: MPosition;
            }
        }

        .total {
            background-color: $primaryColor;
            color: white;
            text-align: center;
            margin: 20px 0 10px;

            p {
                font-weight: 400;
                padding: 10px;
                
            }
        }

        .form__error {
            text-align: center;
            font-size: 20px;
        }

        .time__button {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            div:first-child {
                margin-right: 40px;
            }

            .add__time, .save {
                border-radius: 100%;
                background-color: $primaryColor;
                width: 50px;
                height: 50px;
                color: white;
                border: 2px solid $primaryColor;
                -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
                        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
                display: block;
                margin: 20px auto 10px;

               

                &:hover {
                    background-color: white;
                    color: $primaryColor; 
                }
            }

        }

        
    }
}

