@import './../../styles/globals';

#login {
    background-image: url('./../../images/bkg.png');
    width: 100vw;
    height: 100vh;
    background-position: center;

    .form__container {
      width: 50vw;
      text-align: center;

      .form {
        margin: 0 auto;
        padding-top: 15%;
        width: 50%;

        form {
            grid-template-areas: 'Name Name' 'Email Email' 'Terms Terms' 'Button Button' ;
            grid-column-gap: 20px;
            grid-row-gap: 30px;
            margin-top: 20px;
           

            div {
                p {
                    position: absolute;
                }
            }
            

            div:nth-child(1) {
                grid-area: Name;
            }

            div:nth-child(2) {
                grid-area: Email;
            }

            div:nth-child(3) {
                grid-area: Terms;
            }

            div:nth-child(4) {
                grid-area: Button;
            }

            button {
                grid-area: Button;
                width: 100%;
                justify-self: center;
                height: 40px;
                background-color: $primaryColor;
                border-radius: 50px;
                border: 2px solid $primaryColor;
                -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
                        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
                color: white;

                &:hover {
                    background-color: white;
                    border-color: $primaryColor;
                    color: $primaryColor;
                    -webkit-box-shadow: none;
                            box-shadow: none;
                }
            }
        }

      }

    }
}